body {
  background-color: #333333;
}
.cc{
  color: #fff;
}
.ie-fix .title{
      background:#00a1d6;
      text-align:center;
      padding:10px 0;
      color:#fff;
    }
.bili-footer input, .bili-footer button {
  outline: none;
  resize: none;
}
.bili-footer ul, .bili-footer li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.bili-footer img {
  border: none;
  vertical-align: middle;
}
.bili-footer a {
  outline: none;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
}
.bili-footer a:focus {
  -moz-outline-style: none;
}
.bili-footer a img {
  border: none;
}
.bili-footer p, .bili-footer span {
  margin: 0;
  padding: 0;
}
.bili-footer .clearfix:after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  font-size: 0;
}
.bili-footer .clearfix {
  zoom: 1;
}
.bili-footer {
  width: 100%;
  padding-top: 20px;
  color: #99a2aa;
  text-align: center;
  font-size: 12px;
}

.bili-footer .footer-wrp {
  background-color: #444546b5;
  padding-top: 40px;
  padding-bottom: 60px
}

.bili-footer a {
  color: #a99a9ad9
}

.bili-footer a:hover {
  color: #fff;
}
.bili-footer .icons-footer.icons-footer-report {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin-right: 3px;
  background: url(//static.hdslb.com/images/base/icons.png) no-repeat;
  background-position: -1367px -89px
}

.bili-footer .partner .left,
.bili-footer .partner .right {
  line-height: 24px;
  *line-height: 24px
}

.bili-footer .partner .left a,
.bili-footer .partner .right a {
  color: #99a2aa
}

.bili-footer .partner .left a:hover,
.bili-footer .partner .right a:hover {
  color: #222
}

.bili-footer .right {
  float: right
}

.bili-footer .footer-cnt {
  width: 980px;
  margin: 0 auto
}

.bili-footer .boston-postcards {
  list-style: none;
  margin: 0 auto;
  float: left;
  margin-bottom: 30px
}

.bili-footer .boston-postcards li:first-child {
  border-left: 0;
  padding-left: 0!important
}

.bili-footer .boston-postcards li:last-child {
  width: 280px;
  padding-right: 0
}

.bili-footer .boston-postcards li {
  float: left;
  text-align: left;
  list-style: none;
  width: 300px;
  height: 112px;
  padding-right: 25px;
  padding-left: 24px;
  line-height: 1;
  border-left: solid 1px #e5e9ef;
  font-size: 14px
}

.bili-footer .boston-postcards li .tips {
  margin-bottom: 22px
}

.bili-footer .boston-postcards li .cards {
  float: left;
  width: 100px;
  position: relative;
  margin-bottom: 16px
}

.bili-footer .boston-postcards li .cards.taobao {
  position: relative;
  width: 100px;
  height: 40px;
  margin-bottom: -23px
}

.bili-footer .boston-postcards li .cards.longer {
  width: 100px
}

.bili-footer .boston-postcards li .cards.wide {
  margin-right: 20px
}

.bili-footer .partner {
  padding: 0;
  text-align: left;
  margin: 0 auto;
  height: 80px
}

.bili-footer .partner .left {
  float: left;
}

.bili-footer .partner .partner-banner {
  background: url(data:image/png;) no-repeat;
  width: 100px;
  height: 80px
}

.bili-footer .partner #cert img {
  width: 100px;
}

.bili-footer .block.right {
  position: relative;
  width: 100%
}

.bili-footer .block.right div {
  position: relative;
  width: 82px;
  height: 80px;
  float: left
}

.bili-footer .block.right em {
  position: absolute;
  width: 82px;
  line-height: 14px;
  float: left;
  bottom: 0;
  left: 0;
  text-align: center;
  font-weight: normal;
}

.bili-footer .block.right .pic {
  position: relative;
  margin-left: 11px;
  width: 60px;
  height: 60px
}

.bili-footer .block.right .phone .pic {
  background: url("//static.hdslb.com/images/base/icons.png") no-repeat -1024px -194px
}

.bili-footer .block.right .phone .pic:hover {
  background-position: -1090px -194px
}

.bili-footer .block.right .weibo .pic {
  background: url("//static.hdslb.com/images/base/icons.png") no-repeat -1024px -322px
}

.bili-footer .block.right .weibo .pic:hover {
  background-position: -1090px -322px
}

.bili-footer .block.right .weixin .pic {
  color: #222;
  background: url("//static.hdslb.com/images/base/icons.png") no-repeat -1024px -66px
}

.bili-footer .block.right .weixin .pic:hover {
  background-position: -1090px -66px
}

.bili-footer .block.right .qrcode-box-wrp {
  width: 130px;
  height: 130px;
  background: #fff;
  margin-top: -146px;
  right: -23px;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: .2s;
  z-index: 100000
}

.bili-footer .block.right .qrcode-box {
  width: 128px;
  height: 128px;
  border: 1px solid #e5e9ef
}

.bili-footer .block.right .qrcode-box.qrcode-app {
  background: url(data:image/png;) center center no-repeat
}

.bili-footer .block.right .qrcode-box.qrcode-weibo {
  background: url(data:image/png;) center center no-repeat
}

.bili-footer .block.right .qrcode-box.qrcode-weixin {
  background: url(//s1.hdslb.com/bfs/static/base/img/wx.ed20cfb.gif) center center no-repeat
}

.bili-footer .block.right .qrcode-box .qrcode-box-arrow {
  width: 130px;
  height: 141px;
  background: url(data:image/png;) bottom center no-repeat
}

.bili-footer .block.right .phone:hover .qrcode-box-wrp,
.bili-footer .block.right .weibo:hover .qrcode-box-wrp,
.bili-footer .block.right .weixin:hover .qrcode-box-wrp {
  visibility: visible;
  opacity: 1
}

.bili-footer .block.right .bigvip-qrcode {
  width: 260px;
  height: 150px;
  margin-top: -166px
}

.bili-footer .block.right .bigvip-qrcode .qrcode-box {
  width: 258px;
  height: 148px
}

.bili-footer .block.right .bigvip-qrcode .qrcode-box .qrcode-box-arrow {
  margin-left: 128px;
  margin-top: 20px
}

@media screen and (min-width: 1400px) {
  .bili-footer .footer-cnt {
    width: 1160px
  }

  .bili-footer .boston-postcards li {
    padding-right: 40px;
    padding-left: 39px;
    width: 360px
  }

  .bili-footer .boston-postcards li:first-child {
    border-left: 0;
    padding-left: 0!important
  }

  .bili-footer .boston-postcards li:last-child {
    width: 280px;
    padding-right: 0
  }

  .bili-footer .boston-postcards li .cards {
    width: 120px
  }
